<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h3> Please login or register first to access TinyApp!</h3>
  <p>Only registered users who logs in can access the URLs! Please use the login or register button to either login or register in the app!</p>

</body>
</html>